body {
	font-family: Helvetica;
	background-color: #0ae;
	height: 1000px;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, .2) 35px, rgba(255, 255, 255, .2) 70px);
	background-size: 100% 100%, 100px 100px;
}

.content {
	margin-top: 10%;
	padding: 50px;
	background-color: #fff;
	border-radius: 10px;
	position: relative;
}



h1 {
	color: #00AAEE;
	font-size: 24px;
	margin-bottom: 15px;
}

article {
	margin-top: 20px;
	li {
		margin-left: 25px;
	}
	header {
		h1 {
			font-size: 16px;
			margin-bottom: 5px;
		}
	}
}

footer {
	position: absolute;
	bottom: 20px;
}