<!DOCTYPE HTML>
<html>
<head>
	<title><%= appTitle %></title>
	<meta charset="UTF-8">

	<% if(bootstrap) { %>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<% } %>
	<link rel="stylesheet" href="app/assets/stylesheets/css/min/app.min.css">
	<script type="text/javascript" src="app/assets/javascripts/min/app.min.js"></script>
</head>

<body>
	<div class="content">
		<header>
			<h1>Welcome to <%= appTitle %></h1>
		</header>

		<article>Feel free to fork my repo at <a href="https://github.com/chrilehner90/generator-webapp-gen" target="_blank">Github</a></article>
		
		<% if(bootstrap || jQuery) { %>
		<article>
			<header>
				<h1>You have installed the following bower packages:</h1>
			</header>
			<ul>
				<% if(bootstrap) { %>
					<li>Bootstrap</li>
				<% } %>
				<% if(jQuery) { %>
					<li>jQuery</li>
				<% } %>
			</ul>
		</article>
		<% } %>

		<footer>This Yeoman generator was made by <a href="https://twitter.com/chri_lehner" target="_blank">Christian Lehner</a></footer>
	</div>
</body>
<html>